@import url("./supportive.css");
@import url("./sidebar.css");

#HelpSupport > div.body {
  padding: 0;
}

#HelpSupport > div.body div.markdownrenderer {
  padding: 15px;
}

#HelpSupport > div.body div.wrapper {
  display: none;
  height: 100%;
  overflow-y: auto;
}

#HelpSupport > div.body div.wrapper.show {
  display: block;
}
