#HelpSupport > div.body div.markdownrenderer .image-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#HelpSupport > div.body div.markdownrenderer .image-header img {
  height: 1.2em !important;
  min-width: 1.2em !important;
}

#HelpSupport
  > div.body
  div.markdownrenderer
  p
  *:not(a, span, code, i, b, u, strong) {
  vertical-align: middle;
}

#HelpSupport > div.body div.markdownrenderer img[alt*="icon"] {
  height: 20px;
  margin-right: 5px;
}

#HelpSupport > div.body div.markdownrenderer img:not([alt*="icon"]) {
  max-height: 10em;
  margin: 15px 0;
  margin-bottom: 0;
}

#HelpSupport > div.body div.markdownrenderer img[alt*="large"] {
  max-height: 30em;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 7px 0 #0004;
}

#HelpSupport > div.body div.markdownrenderer img[alt*="medium"] {
  max-height: 15em;
  display: block;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 #0003;
}

#HelpSupport > div.body div.markdownrenderer td img:not([alt*="icon"]) {
  margin: 5px 0;
}

#HelpSupport > div.body div.markdownrenderer li {
  margin-top: 10px;
}

#HelpSupport > div.body div.markdownrenderer table img[alt*="icon"] {
  margin: 0 auto !important;
  display: block;
}

#HelpSupport
  > div.body
  div.markdownrenderer
  blockquote
  *:not(a, span, code, i, b, u, strong) {
  vertical-align: middle;
}

#HelpSupport > div.body div.markdownrenderer blockquote h1,
#HelpSupport > div.body div.markdownrenderer blockquote h2,
#HelpSupport > div.body div.markdownrenderer blockquote h3,
#HelpSupport > div.body div.markdownrenderer blockquote h4,
#HelpSupport > div.body div.markdownrenderer blockquote h5 {
  margin-bottom: 10px;
}
